.cc {
  position: relative;
  width: 100%;
}
.c {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
}

.all-documents {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* default: 4 columns for large screens */
  gap: 20px; /* space between items */
  list-style: none; /* remove bullets */
  padding: 0;
  font-family: "poppins";
}

.demo-image-card-container {
  position: relative;
  border-radius: 20px;
}

.padd {
  padding: 0 20px;
}

.demo-image-card-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom,
    rgba(29, 28, 28, 0.7),
    rgb(5, 5, 5)
  );
  width: 100%;
  top: 85.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  transition: all 0.2s;
}

.demo-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.search-and-category-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 0 20px;
}

.category-button {
  padding: 6px 25px;
  font-size: 18px;
  border-radius: 10px;
  color: rgb(104, 100, 100);
  margin-right: 30px;

  border: none;
  background-color: white;
  background-size: 200%;
  cursor: pointer;
  transition: all 0.2s;
  font-family: Poppins;
  box-shadow: 0 5px 5px rgba(102, 101, 102, 0.6);
  width: 140px;
}
.header-hr {
  border: solid 0.1px rgb(226, 223, 223);
}

.category-button:hover {
  background-position: right center;
  color: white;
  background-color: rgb(81, 80, 80);
  box-shadow: 0 0px 0px rgba(102, 101, 102, 0.6);
}

.search-box-container {
  margin-top: 20px;
  width: 40%;
}

.search-box {
  width: 100%;
  box-shadow: 0 4px 5px rgb(159, 157, 157);
  border-radius: 5px;
}
.document-card {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  font-size: 17px;
}

.folder-icon {
  margin: 0 14px;
  padding-top: 11px;
  font-size: 21px;
}

.profile-photo {
  margin-top: 40px;
}

.upload-section {
  position: fixed;
  bottom: 5%;
  right: 30%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  z-index: 100;
  background-image: linear-gradient(#23e60e, green);
}

.upload-icon {
  font-size: 40px;
  color: white;
  filter: drop-shadow(0 5px 6px rgba(0, 0, 0, 0.6));
  animation: anime 1s alternate-reverse infinite;
}

@keyframes anime {
  from {
    filter: drop-shadow(0 0px 0px rgba(0, 0, 0, 0));
  }
  to {
    filter: drop-shadow(0 5px 6px rgba(0, 0, 0, 1));
  }
}

.category-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Smooth black shadow gradient */

/* Large tablets and small desktops */
@media (max-width: 1024px) {
  .all-documents {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

/* Tablets / medium screens */
@media (max-width: 768px) {
  .all-documents {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
  .search-and-category-conatiner {
    flex-direction: column;
  }

  .category-button-container {
    display: flex;
    justify-content: space-around;
    justify-content: center;
  }

  .search-box-container {
    width: 100%;
  }

  .category-button {
    padding: 6px 25px;
    font-size: 14px;
    border-radius: 10px;
    color: rgb(104, 100, 100);

    margin-right: 30px;
    border: none;
    background-color: white;
    background-size: 200%;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    box-shadow: 0 5px 5px rgba(102, 101, 102, 0.6);
    width: 100px;
  }
}

/* Mobile phones / small screens */
@media (max-width: 580px) {
  .all-documents {
    grid-template-columns: repeat(2, 1fr); /* 1 column */
    padding-left: 35%;
  }

  .cc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
  }

  .p {
    font-size: 12px;
  }
  .folder-icon {
    margin: 0 10px;
    padding-top: 12px;
    font-size: 16px;
  }

  .category-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }

  .search-and-category-conatiner {
    flex-direction: column;
  }

  .category-button-container {
    display: flex;
    justify-content: space-around;
    justify-content: center;
  }

  .search-box-container {
    width: 50%;
  }

  .category-button {
    padding: 6px 25px;
    font-size: 14px;
    border-radius: 10px;
    color: rgb(104, 100, 100);

    margin-right: 30px;
    border: none;
    background-color: white;
    background-size: 200%;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    box-shadow: 0 5px 5px rgba(102, 101, 102, 0.6);
    width: 100px;
  }

  .welcome-message {
    font-size: 15px;
  }
}
