.main-head {
  color: rgb(230, 34, 106);
}

.main-signup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4b48f4, #00d4ff, #9984e3);
  animation: animate-bg infinite alternate-reverse 3s;
  transition: all 1s;
  background-size: 200%;
  background-position: -50% 50%;
  padding: 20px;
}

.face {
  font-size: 30px;
  margin-top: 10px;
}

.forgot-password {
  margin: 20px 0;
  color: rgb(13, 136, 10);
  font-weight: bold;
  font-size: 20px;
}

.signup-image {
  height: 300px;
  width: 70%;
  object-fit: cover;
  border-radius: 50px;
  text-align: left;

  animation: animate-bg infinite alternate-reverse 3s;
  background-size: 200%;
}

.signup-section {
  padding: 0 60px;
  background-color: white;
  border: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.head {
  color: rgb(245, 190, 210);
}
input {
  padding: 12px 10px;
  outline: none;
  margin-bottom: 20px;
  border: solid 0.1px rgb(210, 206, 206);
  border-radius: 3px;
  font-size: 15px;
  margin-right: 20px;
  box-shadow: inset 0 3px 6px rgb(225, 222, 222);
  border: none;
}

input::placeholder {
  font-family: "Poppins";
}

.hr {
  height: 30px;
  margin-top: 20px;
  border: solid 1px rgb(151, 146, 146);
}

.heading-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@keyframes animate-bg {
  from {
    background-size: 200%;
    background-position: -54% 50%;
  }
  to {
    background-size: 200%;
    background-position: -45% 50%;
  }
}

.glow-btn {
  background: linear-gradient(1350deg, #7b70fa, #1d33ac, rgb(196, 13, 98));
  width: 100%;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-size: 200%;
  background-position: -10% 50%;
  animation: glowulse 2s infinite alternate;
  margin-top: 20px;
  transition: all 1s;
  font-family: "Poppins";
}

@keyframes glowlse {
  0% {
    background-position: -20% 50%;
  }
  100% {
    background-position: -30% 50%;
  }
}
.in {
  display: flex;
  justify-content: space-between;
}

.glow-btn:hover {
  transform: scale(1.03);
  background-position: -100% 50%;
}

.image-section {
  width: 30vw;
  margin: 20px;
}

@media screen and (max-width: 480px) {
  .main-signup-container {
    flex-direction: column;
    background: linear-gradient(135deg, white, white);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
  }

  .signup-image {
    height: 250px;
    width: 100%;
    text-align: left;
    filter: drop-shadow(0 10px 5px rgb(232, 227, 227));
    animation: animate-bg infinite alternate-reverse 3s;
    text-align: center;
  }
  input {
    box-shadow: inset 0 2px 4px rgb(225, 222, 222);
    border: none;
  }

  .in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110%;
  }
  .image-section {
    width: 80vw;
  }
  .signup-section {
    padding: 0 60px;
    margin: 40px 0;
    box-shadow: 0 3px 4px rgb(120, 118, 118);
    border-radius: 20px;
  }
}
